.App {
 
  display:flex;
  
 }

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



body{
  background-image: url('./sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  }


/* .body{
  background-image: url('./sky.jpg');
  background-size: 100% 100%;
} */